@use 'sass:list';
@use '../variables';

@mixin generate-offsets($sizes) {
  @for $i from 1 through list.length($sizes) {
    .mb-#{list.nth($sizes, $i)} {
      margin-bottom: #{list.nth($sizes, $i)}px;
    }

    .p-#{list.nth($sizes, $i)} {
      padding: #{list.nth($sizes, $i)}px;
    }

    .pt-#{list.nth($sizes, $i)} {
      padding-top: #{list.nth($sizes, $i)}px;
    }

    .pb-#{list.nth($sizes, $i)} {
      padding-bottom: #{list.nth($sizes, $i)}px;
    }
  }
}

@include generate-offsets(variables.$sizes);

.h-100 {
  height: 100%;
}
